.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4b2e83;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    font-family: sans-serif;
}

h2, h1, p {
    font-family: sans-serif;
}

.blur {
    filter: blur(0px);
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 1rem;
    cursor: pointer;
    background-color: #4b2e83;
    height: 60%;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

.openbtn:hover {
    background-color: #4b2e83;
}

#sidebar {
    transition: margin-left 0.5s;
    padding: 20px;
}

.heading {
    text-align: right;
    padding: 10px;
}

h1.heading {
    margin: 0;
    margin-right: 5%;
    padding: 0;
}

p.heading {
    margin: 0;
    margin-right: 5%;
    padding: 0;
    color: #494949;
}

.flex-container-header {
    display: flex;
    justify-content: space-between;
    background-color: #d9d8d8;
    border-radius: 10px;
}

.flex-child-header {
    flex: 1;
}

.flex-child-header:first-child {
    align-self: center;
    padding-left: 10px;
}

.flex-child-header:last-child {
    text-align: right;
}

p.caption {
    padding-top: 10px;
    margin: 0;
}

a.caption {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.aboutme {
    padding-left: 100px;
    content: "";
    clear: both;
    display: table;
    font-size: 20px;
}

.aboutmeparagraph {
    font-size: 28px;
}

.pagecontent {
    padding-left: 100px;
    display: none;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child{
    margin-right: 20px;
    flex-grow: 1;
}

.flex-child:last-child {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5%;
    height: 250px;
    
}

.zach {
    max-height: 150%;
    border-color:#d9d8d8;
    border-radius: 10px;
    border-style: solid;
}

.flex-container-projects {
    display: flex;
    flex-direction: column;
}

.flex-child-projects {
    flex: 1;
}

.flex-container-single-project {
    display: flex;
}

.flex-child-single-project {
    flex: 1;
}

.flex-child-single-project-reversed {
    flex: 1;
}

.flex-child-single-project-reversed:last-child {
    margin-right: 20%;
    flex-grow: 3;
    font-size: 22px;
}

.flex-child-single-project-reversed:first-child {
    margin-left: 20%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5%;
    height: 250px;
}

.flex-child-single-project:last-child {
    margin-right: 20%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5%;
    height: 250px;
}

.flex-child-single-project:first-child {
    margin-left: 20%;
    flex-grow: 3;
    font-size: 22px;
}

.tic-tac-toe-img {
    max-height: 100%;
    min-height: 90%;
    border-color:#d9d8d8;
    border-radius: 10px;
    border-style: solid;
}



@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}